@use "sass:math" as math;
@reference "tailwindcss";

$primary: #0070C0;
$border: #2E89CA;

.pipelines {
  border-top: 2px solid $border;
  border-bottom: 4px solid $border;
  background-color: rgb(242, 242, 242);
}

.pipelines__row {
  display: grid;
  grid-template-columns: 6fr 4fr [progress-start] repeat(3, 4fr);
  align-items: center;
  font-size: clamp(10px, 1.5vw, 1.25rem);
  line-height: 1.2;

  @media (min-width: theme('screens.md')) {
    grid-template-columns: 6fr 5fr 5fr [progress-start] repeat(2, 4fr) repeat(2, 5fr);
  }
  // Indication show-hide
  & > div:nth-child(3) {
    @media (max-width: theme('screens.md')) {
      display: none;
    }
  }

  & > div:nth-child(4) {
    overflow: visible;
  }

  &--headers {
    border-bottom: 0.25rem solid $border;
    font-size: clamp(12px, 2vw, 1.5rem);

    div {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    }

    // Graph header reformat
    & > div:nth-child(4) {
      @media (min-width: theme('screens.md')) {
        display: none;
      }
    }

    & > div:nth-child(5), & > div:nth-child(6) {
      @media (max-width: theme('screens.md')) {
        display: none;
      }
    }
  }

  & > div {
    & > p {
      margin: 0.25rem;
      margin-top: 0.75rem;
      margin-bottom: 0.75rem;
    }
    height: 100%;
    overflow: hidden;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.pipelines__row__name--no-info {
  grid-column: 1 / 3;
  @media (min-width: theme('screens.md')) {
    grid-column: 1 / 4;
  }
}

.pipelines__row__progress-area {
  grid-column: progress-start / -1;
  position: relative;
  width: 100%;
  height: 100%;
}

.pipelines__row__progress-bar {
  position: absolute;
  height: 100%;

  &__inner {
    display: flex;
    position: absolute;
    height: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;

    &__fill {
      flex-shrink: 1;
      flex-grow: 1;
      background-color: $primary;
    }
  }


  &__partner-logo {
    position: absolute;
    display: block;
    top: 50%;
    right: 0;
    height: min(80%, 2.5rem);
    max-height: 8vw;
    max-width: 3rem;
    transform: translate(100%, -50%);
    @media (min-width: theme('screens.md')) {
      max-width: none;
    }

    & > img {
      object-fit: scale-down;
      width: fit-content;
      height: 100%;
    }
  }

  &__label {
    position: absolute;
    font-size: 0.85em;
    max-width: 100%;
    left: 0;
    top: 50%;
    transform: translate(0%, -50%);
    color: white;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    vertical-align: middle;
    line-height: normal;
  }

  svg {
    transform: translateX(-4%);
    fill: $primary;
  }
}

.pipelines__row__progress-area__markers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;

  @media (min-width: theme('screens.md')) {
    grid-template-columns: repeat(2, 4fr) repeat(2, 5fr);
  }

  div {
    border-left: 1px dashed gray;
  }

  div:last-child {
    border-right: 1px dashed gray;
  }

  // Graph reformat
  div:first-child {
    @media (max-width: theme('screens.md')) {
      display: none;
    }
  }
}

@for $i from 1 through 100 {
  $bar-length: $i;
  .pipelines__row__progress-bar__#{$bar-length} {
    width: (clamp(0, $bar-length, 50) * math.div(2, 3) * 1%) + (clamp(0, $bar-length - 50, 50) * math.div(4, 3) * 1%);
    @if $i < 50 {
      @media (max-width: theme('screens.md')) {
        & .pipelines__row__progress-bar__label {
          left: unset;
          right: 0;
          transform: translate(calc(100% + 0.5em), -50%);
          color: $primary;
          background-color: rgb(242, 242, 242);
          border-radius: 0.25em;
          padding: 0.2em;
          max-width: unset;
        }
      }
    }
    @media (min-width: theme('screens.md')) {
      width: (clamp(0, $bar-length, 50) * math.div(8, 9) + clamp(0, $bar-length - 50, 50) * math.div(10, 9)) * 1%;
    }
  }
}

.hoverParent {
  position: relative;
  display: inline-block;

  & > summary {
    list-style-position: outside;
    margin-left: 1rem;
  }

  & > summary > p {
    @media (min-width: theme('screens.md')) {
      display: none;
    }
  }
}

.hoverParent .hoverParent__text {
  text-align: left;
  background-color: rgba(255, 255, 255, 50);
  height: fit-content;
  border-radius: 0.5rem;
  border: 0.1rem solid gray;
  z-index: 101;

  position: absolute;
  width: min(65ch, 65vw);
  left: 100%;
  top: 0%;
  // transform: translateY(-50%);

  &--bottom {
    left: 40%;
    // transform: translateX(-50%);
  }
}

.hoverParent .hoverParent__background {
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
