span.anchor{
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

main {
  overflow-x: hidden;
}

:root {
  scroll-behavior: smooth;
}

a {
  @apply text-blue-600 hover:text-yellow-700 underline focus:outline-none focus:ring-2 focus:ring-gray-400 rounded
}
